* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 12pt Arial, sans-serif;
  font-style: italic;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(90deg, rgba(167, 37, 255, 1), rgba(235, 129, 255, 1) 50%, rgba(252, 176, 69, 1));
}

section {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section * {
  color: #333;
}

button, input, select, textarea {
  border-radius: 30px;
  padding: 9px;
  cursor: pointer;
}

#res {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
