/* Estilos gerais */
body, button, input {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adicionado transição de cores */
}

.light-theme {
  /* Estilos para o tema claro */
  background-color: #f4f4f4; /* Cor de fundo */
  color: #333; /* Cor do texto */
}

.dark-theme {
  /* Estilos para o tema escuro */
  background-color: #222; /* Cor de fundo */
  color: #fff; /* Cor do texto */
}

.calculator-container {
  display: flex;
}

.calculator {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#result {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 1px;
  font-size: 35px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #e8e8e8; /* Cor de fundo do visor para o tema claro */
  color: #333; /* Cor do texto do visor para o tema claro */
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Estilos para os botões */
button {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Adicionado para incluir padding e borda na largura */
}

/* Estilos para os botões de número */
.number {
  width: calc(25% - 10px);
  background-color: #ccc; /* Cor de fundo dos botões de número para o tema claro */
  color: #333; /* Cor do texto dos botões de número para o tema claro */
}

/* Estilos para os botões de operador, limpar e igual */
.operator, #clear, #equals {
  width: calc(25% - 10px);
  background-color: #666; /* Cor de fundo dos botões de operador, limpar e igual para o tema claro */
  color: #fff; /* Cor do texto dos botões de operador, limpar e igual para o tema claro */
}

/* Estilos para hover */
button:hover {
  background-color: #d9d9d9;
}

.operator:hover, #clear:hover, #equals:hover {
  background-color: #c4c4c4;
}

#clear:hover {
  background-color: #d65a4d;
}

/* Estilos para o histórico */
.history-container {
  width: 200px;
  margin-left: 20px;
}

.history-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

#history-list {
  font-size: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#history-list li {
  margin-bottom: 5px;
}

/* Estilos para o botão de limpar histórico */
#clear-history {
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clear-history:hover {
  background-color: #c4c4c4;
}

/* Estilos para o botão de toggle */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999; /* Certifique-se de que o botão esteja acima de outros elementos */
}

/* Estilos para o ícone do tema */
#theme-icon {
  transition: 0.3s ease;
  width: 30px;
  height: 30px;
}
