* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 14pt Arial, sans-serif; /* Aumentei o tamanho da fonte para melhor legibilidade */
  font-style: italic;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(90deg, rgba(167, 37, 255, 1), rgba(235, 129, 255, 1) 50%, rgba(252, 176, 69, 1));
}

section {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Ajustei o valor para um espaçamento mais equilibrado */
  gap: 20px; /* Ajustei o valor para reduzir a lacuna entre os elementos dentro da seção */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizei os elementos na seção */
}

section * {
  color: #333;
}

button, input, select, textarea {
  border-radius: 15px; /* Reduzi o valor para manter um visual arredondado, mas mais suave */
  padding: 15px; /* Ajustei o valor para um espaçamento interno mais confortável */
  cursor: pointer;
}

#res {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizei os elementos dentro de #res */
  gap: 15px;
}
