body {
    font: normal 16pt Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Organiza os elementos em coluna */
  }
  
  #area {
    font: normal 30pt Arial;
    background-color: green;
    color: white;
    width: 300px;
    height: 300px;
    line-height: 300px; /* Corrigi a linha para refletir a altura real */
    text-align: center;
    margin-bottom: 10px; /* Espaço entre #area e outros elementos */
    border-radius: 15px; /* Adiciona borda arredondada */
  }
  
  .container {
    display: flex; /* Organiza os elementos em linha */
    justify-content: center;
    align-items: center;
  }
  
  input {
    padding: 12px;
    border: 1px solid #3498db; /* Cor da borda */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ecf0f1; /* Cor de fundo dos campos de entrada */
    color: #333; /* Cor do texto nos campos de entrada */
  }
  
  button {
    margin-top: 30px; /* Ajuste a margem superior conforme necessário */
    padding: 12px;
    background-color: #2ecc71; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor ao passar o mouse */
  }
  
  button:hover {
    background-color: #27ae60; /* Cor de fundo do botão ao passar o mouse */
  }
  
  #res {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #3498db; /* Cor da borda das respostas */
    border-radius: 6px;
    background-color: #ecf0f1;
    text-align: center;
  }
  