/* ultimas-despesas.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffcccc;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.expenses-list {
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.entry-amount {
  margin-left: auto;
  margin-right: 10px;
}

.delete-btn {
  padding: 8px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.total-entry {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  border-top: 10px solid #ccc;
  padding-top: 10px;
}

.total-label {
  margin-right: 10px;
}
